<section id="about" class="about">
    <div class="container">
      <h2>About Me</h2>
      <p>
        I am a dedicated researcher and engineer with a passion for pushing the boundaries of artificial intelligence.
        My work spans variety of projects in advanced AI and practical implementations in industry.
      </p>
      <p>
        With extensive experience from leading tech companies and now as a lead ML engineer <a href="https://www.wizard.com" target="_blank">at Wizard</a>, I bridge cutting‑edge research with practical application.
      </p>
    </div>
  </section>
  