<section id="contact" class="contact">
  <div class="container">
    <h2>Contact</h2>
    <p>Let's connect! You can reach me via:</p>
    <ul class="contact-links">
      <li>
        <a href="mailto:onurbarut@windowslive.com">
          <i class="fas fa-envelope"></i> onurbarut@windowslive.com
        </a>
      </li>
      <li>
        <a href="mailto:onur.barut@wizard.com">
          <i class="fas fa-envelope"></i> onur.barut@wizard.com
        </a>
      </li>
      <li>
        <a href="mailto:OBarut@clarku.edu">
          <i class="fas fa-envelope"></i> OBarut@clarku.edu
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/onurbarut" target="_blank">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
      </li>
      <li>
        <a href="https://github.com/onurbarut" target="_blank">
          <i class="fab fa-github"></i> GitHub
        </a>
      </li>
      <li>
        <a href="https://scholar.google.com/citations?user=vhwFJbgAAAAJ&hl=en" target="_blank">
          <i class="fas fa-graduation-cap"></i> Google Scholar
        </a>
      </li>
    </ul>
  </div>
</section>
