<section id="cv" class="cv">
  <div class="container">
    <h2>Curriculum Vitae</h2>
    <p>
      For a comprehensive overview of my academic and professional achievements—including my work on advanced AI models—please download my latest CV.
    </p>
    <ul>
      <li><strong>Key Skills:</strong>
        <ul>
          <li>Proficient in Python</li>
          <li>Expertise in Machine Learning and Deep Learning</li>
          <li>Experience with TensorFlow and PyTorch frameworks</li>
          <li>Experience with LLMs, fine-tuning multi‑modal models, RAG and AI agent development</li>
        </ul>
      </li>
      <li><strong>Education:</strong>
        <ul>
          <li>Ph.D. in Computer Engineering, University of Massachusetts Lowell (Awarded 2022)</li>
          <li>M.Sc. in Electrical and Electronics Engineering, Middle East Technical University, Turkiye</li>
          <li>Minor in Aerospace Engineering, Middle East Technical University, Turkiye</li>
          <li>B.Sc. in Electrical and Electronics Engineering, Middle East Technical University, Turkiye</li>
        </ul>
      </li>
      <li><strong>Professional Experience:</strong>
        <ul>
          <li>Lead Machine Learning Engineer at Wizard Commerce</li>
          <li>AI Software Architect at Intel Corporation</li>
          <li>Research Assistant at University of Massachusetts Lowell</li>
          <li>System Design Engineer at Aselsan A.S.</li>
        </ul>
      </li>
    </ul>
    <p>
      <a href="assets/Onur_Barut_CV.pdf" download="Onur_Barut_CV.pdf" class="btn-download">
        <i class="fas fa-download"></i> Download CV (PDF)
      </a>
    </p>
  </div>
</section>
