<header>
    <nav class="navbar">
      <div class="container">
        <ul class="nav-list">
          <li><a href="#hero"><i class="fas fa-home"></i> Home</a></li>
          <li><a href="#about"><i class="fas fa-user"></i> About</a></li>
          <li><a href="#projects"><i class="fas fa-project-diagram"></i> Projects</a></li>
          <li><a href="#publications"><i class="fas fa-book"></i> Publications</a></li>
          <li><a href="#cv"><i class="fas fa-file-alt"></i> CV</a></li>
          <li><a href="#contact"><i class="fas fa-envelope"></i> Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
  