<section id="hero" class="hero">
    <div class="container hero-content">
      <div class="hero-image">
        <img src="https://github.com/onurbarut/onurbarut.github.io/blob/main/_img/Onur_Barut_2018.jpeg?raw=true" 
             alt="Onur Barut" width="150px" class="profile-img">
        <div class="photo-caption">Onur Barut</div>
      </div>
      <div class="hero-text">
        <h1>Hi there, I'm Onur Barut!</h1>
        <p class="title">
           PhD, Lead ML Engineer @ <a href="https://wizard.com" target="_blank">Wizard</a>, 
           Ex‑<a href="https://www.intel.com" target="_blank">Intel</a>, Ex‑<a href="https://www.aselsan.com.tr" target="_blank">Aselsan</a>
        </p>
        <p>
          I specialize in advanced machine learning—with a focus on LLMs, multi‑modal models, and 
          AI agents—for real‑world applications.
          In addition, I'm engaged as a part‑time faculty at 
          <a href="https://www.clarku.edu/" target="_blank">Clark University</a>, where I will develop and teach 
          <a href="https://catalog.clarku.edu/preview_program.php?catoid=34&poid=6973&hl=MSIT&returnto=search&_gl=1*1wdyd4o*_gcl_au*MTY3MDUzNTExNS4xNzM4MDA5NjA5#:~:text=MSIT%203103%20Generative%20AI%20Model%20Development" target="_blank">MSIT 3103:Generative AI Model Development</a> course in Fall 2025.
        </p>
      </div>
    </div>
  </section>
  