<section id="publications" class="publications">
  <div class="container">
    <h2>Publications</h2>
    <ol>
      <li>
        <strong>Multi‑task LSTM Model For Human Activity Recognition and Intensity Estimation using Wearable Sensor Data</strong>
        – Published in IEEE Internet of Things Journal, 2020. <em>(Top-Cited)</em>
        <a href="https://doi.org/10.1109/JIOT.2020.2990734" target="_blank">[DOI]</a>
      </li>
      <li>
        <strong>R1DiT: Privacy-Preserving Malware Traffic Classification with Attention-Based Neural Networks</strong>
        – Published in IEEE Transactions on Network and Service Management, October 2022. <em>(R1DiT Paper)</em>
        <a href="https://doi.org/10.1109/TNSM.2022.3211254" target="_blank">[DOI]</a>
      </li>
      <li>
        <strong>Malware Detection for Portable Executables Using a Multi-input Transformer-Based Approach</strong>
        – Presented at ICCNS 2024, February 2024. <em>(Most Recent Publication)</em>
        <a href="https://doi.org/10.1145/3638036.3640290" target="_blank">[DOI]</a>
      </li>
    </ol>
    <p>
      For a comprehensive list of my publications, please visit my
      <a href="https://scholar.google.com/citations?user=vhwFJbgAAAAJ&hl=en" target="_blank">
        <i class="fas fa-book-open"></i> Google Scholar
      </a> profile.
    </p>
  </div>
</section>
